<form class="form-check" id="change-password">
  <legend>Change Password</legend>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">Old Password</label>
    <div class="col-10">
      <input class="form-control" type="password" name="passwords[old]">
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">New Password</label>
    <div class="col-10">
      <input class="form-control" type="password" name="passwords[new]">
    </div>
  </div>
  <button type="submit" class="btn btn-success">Change Password</button>
</form>
