<form class="form-check" id="change-password">
    <legend>Change Password</legend>
    <label class="form-check-label">
              Old Password
              <input class="form-control" type="password" name="passwords[old]">
            </label>
    <label class="form-check-label">
              New Password
              <input class="form-control" type="password" name="passwords[new]">
            </label>
    <button type="submit" class="btn btn-success">Change Password</button>
</form>
