<form class="form-check form-sign-in-dropdown" id="sign-in">
  <fieldset>
    <legend>Sign in!</legend>
    <label class="form-check-label">
              Email
              <input class="form-control" type="text" name="credentials[email]">
            </label>
    <label class="form-check-label">
              Password
              <input class="form-control" type="password" name="credentials[password]">
            </label>
    <button type="submit" class="btn btn-success">Sign In!</button>
  </fieldset>
</form>
