<form class="form-check" id="sign-up">
    <legend>Sign up!</legend>
    <label class="form-check-label">
              Email
              <input class="form-control" type="text" name="credentials[email]">
    </label>
    <label class="form-check-label">
              Password
              <input class="form-control" type="password" name="credentials[password]">
    </label>
    <label class="form-check-label">
              Password Confirmation
              <input class="form-control" type="password" name="credentials[password_confirmation]">
    </label>
    <button type="submit" class="btn btn-success btn-default">Sign Up!</button>
</form>
