<h1>Moody Lords</h1>
<br>
<div class="jumbotron new-box">
  <form class="form-check" id="blog-create-form">
    <legend>Create Blog</legend>
    <fieldset>
      <div class="form-group">
        <label>Title</label>
        <input class="form-control" type="text" name="blog[title]" required>
      </div>
      <div class="form-group">
        <label>Blog Content</label>
        <textarea rows="20" class="form-control" name="blog[body]" required></textarea>
      </div>
      <button type="submit" class="btn btn-success">Post</button>
    </fieldset>
  </form>
</div>
