<form class="form-check" id="change-password">
  <legend>Change Password</legend>
  <fieldset>
    <div class="form-group">
      <label>Old Password:</label>
      <input class="form-control" type="password" name="passwords[old]">
    </div>
    <div class="form-group">
      <label>New Password:</label>
      <input class="form-control" type="password" name="passwords[new]">
    </div>
    <button type="submit" class="btn btn-success">Change Password</button>
  </fieldset>
</form>
