<form class="form-check form-sign-in-dropdown" id="sign-in">
  <legend>Sign in</legend>
  <fieldset>
    <div class="form-group">
      <label>Email:</label>
      <input class="form-control" type="text" name="credentials[email]">
    </div>
    <div class="form-group">
      <label>New Password:</label>
      <input class="form-control" type="password" name="credentials[password]">
    </div>
    <button type="submit" class="btn btn-success">Sign In!</button>
  </fieldset>
</form>
