$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background: #556270;
  background: -webkit-linear-gradient(to left, #556270 , #FF6B6B);
  background: linear-gradient(to left, #556270 , #FF6B6B);
}

body {
  background: #556270;
  background: -webkit-linear-gradient(to left, #556270 , #FF6B6B);
  background: linear-gradient(to left, #556270 , #FF6B6B);
}

span:hover {
  cursor: pointer;
}

.label {
  float: right;
}

.hidden {
  display: none;
}

h1 {
  font-family: 'Rubik Mono One', sans-serif;
  color: black;
}

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  padding : 5px 15px;
  width: 100%;
}
